{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
    {% block content %}

    <div class="centrado">
        <form method="post" class="col s10">
            <div class="row">
                <div class="input-field col s3">
                {% csrf_token %}
                {{form}}
                <button class="btn waves-effect waves light-green darken-4" type="submit">
                    Modificar
                </button>
                </div>
            </div>
        </form>
    </div>
    <h1>{{request.user.datosusuario.nombre}}</h1>
    {% endblock content %}
