{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="jumbotron text-center">
	<div class="page-header"><h1>Perfil</h1></div>

	<img class="" src="{% static 'qr.png' %}">
  <p>{{request.user.datosusuario.no_boleta}}</p>
  <p>{{request.user.datosusuario.nombre}}</p>
</div>
{% else %}
<footer class="text-center">
  <p>Bienvenido de vuelta <a href="/usuario/login">Inicia sesión</a></p>

  <p>¿Que esperas? <a href="/usuario/registro">Registrate</a></p>
</footer>
{% endif %}

{% endblock content %}
