{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<style media="screen">
    .perro_master{
        float: left;
        width: 250px;
        padding-left: 30px;
    }

</style>
    <div class="jumbotron text-center">
        <div class="page-header"><h3>Editar</h3></div>
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{tarea.id}}">
                <div class="form-group">
                  <label for="nombremateria" class="col-lg-2 control-label">Nombre</label>
                  <div class="col-lg-10">
                      <input type="text" class="form-control" name="tarea" value="{{tarea.id_tarea}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="nombremateria" class="col-lg-2 control-label">Descripcion</label>
                  <div class="col-lg-10">
                      <input type="text" class="form-control" name="descripcion" value="{{tarea.descripcion}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="nombremateria" class="col-lg-2 control-label">Materia</label>
                  <div class="col-lg-10">
                      <select class="form-control" name="materia">
                          {% for coso in materias %}
                            <option value="{{coso.materia}}">{{coso.materia}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="form-group">
                    <label for="nombremateria" class="col-lg-2 control-label">Fecha</label>
                    <div class="col-lg-10">
                      <input type="date" class="form-control" name="fecha_entrega" value="{{tarea.fecha_entrega}}">
                  </div>
                </div>
                <input type="hidden" name="user" value="{{tarea.user}}">
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
                </div>
            </form>
    </div>
{% endblock content %}
